.nav {
    grid-area: n;
   background-image: url("https://i.pinimg.com/736x/aa/0e/1b/aa0e1baf6d5ee0d0770d0e8e507de128.jpg");
    padding: 20px;
}

.item a{
    color: aquamarine;
    text-decoration: none;
}

a.active {
    color: gold;
    text-decoration: none;
}