.nav {
    display: flex;
    flex-direction: column;
    width: 100px;
    background-image: url("https://i.pinimg.com/736x/aa/0e/1b/aa0e1baf6d5ee0d0770d0e8e507de128.jpg");
    padding: 20px;
}

.burgerMenu {
    display: flex;
    flex-direction: column;
    width: 200px;
    transition-duration: 200ms;
    transform: translate(-100px);
}

.burgerMenu:hover {
    transition-duration: 200ms;
    transform: translate(0);
}

.item a {
    display: flex;
    color: white;
    text-decoration: none;
    margin-bottom: 15px;
    font-weight: bold;
}

a.active {
    color: gold;
    text-decoration: none;
}

.open {
    display: flex;
    justify-content: center;
    width: 20px;
    height: 20px;
    margin-left: 20px;
    text-decoration: solid #72b3ff underline;
    color: blueviolet;
    font-size: 18px;
}
