.dialogs {
    display: grid;
    grid-template-columns: 2fr 2fr;
    margin: 50px;
}

.dialogs-items {

    color: white;
}

.dialogs-items .active {
    color: gold;
}

.messages {
    padding: 10px;
}

.message {

}